@import "../../../components/common";

.category-content {
  padding-bottom: px2rem(10px);
  .category-item {
    float: left;
    width: 25%;
    padding-top: pm2rem(14px);
    font-size: pm2rem(14px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .item-icon {
    width: pm2rem(48px);
  }
  .item-name {
    margin-top: pm2rem(14px);
  }
}
